# Reading the csv file

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
data['text'][0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

# APPLY PREPROCESSING TECHNIQUES

# Extract Contractions

In [5]:
pip install contractions

Requirement already satisfied: contractions in c:\users\admin\anaconda3\lib\site-packages (0.1.68)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: textsearch>=0.0.21 in c:\users\admin\anaconda3\lib\site-packages (from contractions) (0.0.21)
Requirement already satisfied: anyascii in c:\users\admin\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.1)
Requirement already satisfied: pyahocorasick in c:\users\admin\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (1.4.4)

In [6]:
import re
import contractions

# Lowercase

In [7]:
data['text'] = data['text'].str.lower()

In [8]:
data['text']

0       our deeds are the reason of this #earthquake m...
1                  forest fire near la ronge sask. canada
2       all residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       just got sent this photo from ruby #alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @thetawniest the out of control w...
7610    m1.94 [01:04 utc]?5km s of volcano hawaii. htt...
7611    police investigating after an e-bike collided ...
7612    the latest: more homes razed by northern calif...
Name: text, Length: 7613, dtype: object

# Remove Punctuation

In [9]:
import string

In [10]:
data['text'] = data['text'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '' , x))

In [11]:
data['text']

0       our deeds are the reason of this earthquake ma...
1                   forest fire near la ronge sask canada
2       all residents asked to shelter in place are be...
3       13000 people receive wildfires evacuation orde...
4       just got sent this photo from ruby alaska as s...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609    ariaahrary thetawniest the out of control wild...
7610    m194 0104 utc5km s of volcano hawaii httptcozd...
7611    police investigating after an ebike collided w...
7612    the latest more homes razed by northern califo...
Name: text, Length: 7613, dtype: object

# Remove words and digits containing digits

In [12]:
data['text'] = data['text'].apply(lambda x: re.sub('W*dw*','',x))

In [13]:
data['text']

0       our ees are the reason of this earthquake may ...
1                    forest fire near la ronge sask canaa
2       all resients aske to shelter in place are bein...
3       13000 people receive wilfires evacuation orers...
4       just got sent this photo from ruby alaska as s...
                              ...
7608    two giant cranes holing a brige collapse into ...
7609    ariaahrary thetawniest the out of control wil ...
7610    m194 0104 utc5km s of volcano hawaii httptcozt...
7611    police investigating after an ebike collie wit...
7612    the latest more homes raze by northern califor...
Name: text, Length: 7613, dtype: object

# Remove Stopwords

In [14]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
stop_words.add('subject')
stop_words.add('http')
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
data['text'] = data['text'].apply(lambda x: remove_stopwords(x))

In [16]:
data['text']

0              ees reason earthquake may allah forgive us
1                    forest fire near la ronge sask canaa
2       resients aske shelter place notifie officers e...
3       13000 people receive wilfires evacuation orers...
4       got sent photo ruby alaska smoke wilfires pour...
                              ...
7608    two giant cranes holing brige collapse nearby ...
7609    ariaahrary thetawniest control wil fires calif...
7610      m194 0104 utc5km volcano hawaii httptcoztoy8ebj
7611    police investigating ebike collie car little p...
7612    latest homes raze northern california wilfire ...
Name: text, Length: 7613, dtype: object

# Rephrase text

In [17]:
import re

string = '''Love, Kenneth, kenneth+challenge@teamtreehouse.com, 555-555-5555, @kennethlove
Chalkley, Andrew, andrew@teamtreehouse.co.uk, 555-555-5556, @chalkers
McFarland, Dave, dave.mcfarland@teamtreehouse.com, 555-555-5557, @davemcfarland
Kesten, Joy, joy@teamtreehouse.com, 555-555-5558, @joykesten'''

contacts = re.search(r'''
    (?P<email>[-\w\d.+]+@[-\w\d.]+),\s+
    (?P<phone>\d{3}-\d{3}-\d{4})
''', string, re.X|re.M)

In [18]:
contacts

# Stemming

In [19]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])
data["text"] = data["text"].apply(lambda x: stem_words(x))

# Lemmatization

In [20]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])
data["text"] = data["text"].apply(lambda text: lemmatize_words(text))

In [22]:
data.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [23]:
import pandas as pd
df=pd.read_csv('train.csv')
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [24]:
X=df.drop(['keyword','location'],axis=1)

In [25]:
X

         id                                               text  target
0         1  Our Deeds are the Reason of this #earthquake M...       1
1         4             Forest fire near La Ronge Sask. Canada       1
2         5  All residents asked to 'shelter in place' are ...       1
3         6  13,000 people receive #wildfires evacuation or...       1
4         7  Just got sent this photo from Ruby #Alaska as ...       1
...     ...                                                ...     ...
7608  10869  Two giant cranes holding a bridge collapse int...       1
7609  10870  @aria_ahrary @TheTawniest The out of control w...       1
7610  10871  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  10872  Police investigating after an e-bike collided ...       1
7612  10873  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

In [26]:
y=df['text']

In [27]:
y

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

# Splitting the Dataset

In [28]:
import numpy as np
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [30]:
X_train

         id                                               text  target
4996   7128  Courageous and honest analysis of need to use ...       1
3263   4688  @ZachZaidman @670TheScore wld b a shame if tha...       0
4907   6984  Tell @BarackObama to rescind medals of 'honor'...       1
2855   4103  Worried about how the CA drought might affect ...       1
4716   6706  @YoungHeroesID Lava Blast &amp; Power Red #Pan...       0
...     ...                                                ...     ...
5226   7470  @Eganator2000 There aren't many Obliteration s...       0
5390   7691  just had a panic attack bc I don't have enough...       0
860    1242  Omron HEM-712C Automatic Blood Pressure Monito...       0
7603  10862  Officials say a quarantine is in place at an A...       1
7270  10409  I moved to England five years ago today. What ...       1

[6090 rows x 3 columns]

In [31]:
X_test

        id                                               text  target
2644  3796  So you have a new weapon that can cause un-ima...       1
2227  3185  The f$&amp;@ing things I do for #GISHWHES Just...       0
5448  7769  DT @georgegalloway: RT @Galloway4Mayor: ÛÏThe...       1
132    191  Aftershock back to school kick off was great. ...       0
6845  9810  in response to trauma Children of Addicts deve...       0
...    ...                                                ...     ...
1835  2640              @SmusX16475 Skype just crashed u host       0
506    731  Christian Attacked by Muslims at the Temple Mo...       1
3592  5131  Man charged over fatal crash near Dubbo refuse...       1
6740  9657  #usNWSgov Severe Weather Statement issued Augu...       1
1634  2361  Great British &lt;b&gt;Bake&lt;/b&gt; Off's ba...       0

[1523 rows x 3 columns]

In [32]:
y_train

4996    Courageous and honest analysis of need to use ...
3263    @ZachZaidman @670TheScore wld b a shame if tha...
4907    Tell @BarackObama to rescind medals of 'honor'...
2855    Worried about how the CA drought might affect ...
4716    @YoungHeroesID Lava Blast &amp; Power Red #Pan...
                              ...
5226    @Eganator2000 There aren't many Obliteration s...
5390    just had a panic attack bc I don't have enough...
860     Omron HEM-712C Automatic Blood Pressure Monito...
7603    Officials say a quarantine is in place at an A...
7270    I moved to England five years ago today. What ...
Name: text, Length: 6090, dtype: object

In [33]:
y_test

2644    So you have a new weapon that can cause un-ima...
2227    The f$&amp;@ing things I do for #GISHWHES Just...
5448    DT @georgegalloway: RT @Galloway4Mayor: ÛÏThe...
132     Aftershock back to school kick off was great. ...
6845    in response to trauma Children of Addicts deve...
                              ...
1835                @SmusX16475 Skype just crashed u host
506     Christian Attacked by Muslims at the Temple Mo...
3592    Man charged over fatal crash near Dubbo refuse...
6740    #usNWSgov Severe Weather Statement issued Augu...
1634    Great British &lt;b&gt;Bake&lt;/b&gt; Off's ba...
Name: text, Length: 1523, dtype: object

# Modelling

In [34]:
def evaluate_model(model, x_test, y_test):
    from sklearn import metrics

    # Predict Test Data 
    y_pred = model.predict(x_test)

    # Calculate accuracy, precision, recall, f1-score, and kappa score
    acc = metrics.accuracy_score(y_test, y_pred)
    prec = metrics.precision_score(y_test, y_pred)
    rec = metrics.recall_score(y_test, y_pred)
    f1 = metrics.f1_score(y_test, y_pred)
    kappa = metrics.cohen_kappa_score(y_test, y_pred)

    # Calculate area under curve (AUC)
    y_pred_proba = model.predict_proba(x_test)[::,1]
    fpr, tpr, _ = metrics.roc_curve(y_test, y_pred_proba)
    auc = metrics.roc_auc_score(y_test, y_pred_proba)

    # Display confussion matrix
    cm = metrics.confusion_matrix(y_test, y_pred)

    return {'acc': acc, 'prec': prec, 'rec': rec, 'f1': f1, 'kappa': kappa, 
            'fpr': fpr, 'tpr': tpr, 'auc': auc, 'cm': cm}

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [36]:
df.corr()

              id    target
id      1.000000  0.060781
target  0.060781  1.000000

In [37]:
df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

# Encoding Categorical Columns

In [38]:
dummy = pd.get_dummies(df,columns=['id','target'])
dummy

,keyword,location,text,id_1,id_4,id_5,id_6,id_7,id_8,id_10,...,id_10864,id_10866,id_10867,id_10869,id_10870,id_10871,id_10872,id_10873,target_0,target_1
0,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,NaN,NaN,Forest fire near La Ronge Sask. Canada,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,NaN,NaN,All residents asked to 'shelter in place' are ...,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,NaN,NaN,"13,000 people receive #wildfires evacuation or...",0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,NaN,NaN,Two giant cranes holding a bridge collapse int...,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
7609,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
7610,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7611,NaN,NaN,Police investigating after an e-bike collided ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
7612,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [39]:
import pandas as pd
df1=pd.read_csv('test.csv')
df1

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [40]:
df1.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64